<div class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title">{{this.actor ? 'Edit Actor' : 'Add Actor to roster'}}</h1>
    </div>
    <form (ngSubmit)="onSubmit()" [formGroup]="actorForm">
        <div class="modal-body">
            <div class="form-group">
                <label class="small text-gray" for="name">Name</label>
                <input [ngClass]="{ 'is-invalid': submitted && actorFormControls['name'].errors }"
                       class="form-control"
                       formControlName="name" id="name"
                       type="text"/>

                <label class="small text-gray" for="initiative">Initiative</label>
                <input [ngClass]="{ 'is-invalid': submitted && actorFormControls['initiative'].errors }"
                       class="form-control"
                       formControlName="initiative" id="initiative"
                       type="text"/>

                <label class="small text-gray" for="modifier">Modifier</label>
                <input [ngClass]="{ 'is-invalid': submitted && actorFormControls['modifier'].errors }"
                       class="form-control"
                       formControlName="modifier" id="modifier"
                       type="text"/>

<!--                <div class="input-group mt-2">-->
<!--                    <label class="input-group-text small text-gray" for="tag">Tag</label>-->
<!--                    <select id="tag" class="form-select" formControlName="tag">-->
<!--                        <option *ngFor="let _tag of validTags"-->
<!--                                [value]="_tag">-->
<!--                            {{_tag}}-->
<!--                        </option>-->
<!--                    </select>-->
<!--                </div>-->

                <ng-container *ngIf="actor === undefined">
                    <label class="small text-gray me-3" for="isPc">Save Actor</label>
                    <input class="form-check-input"
                           formControlName="isPc" id="isPc"
                           type="checkbox"/>
                </ng-container>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" type="submit">Confirm</button>
            <button #closeButton class="d-none" data-bs-dismiss="modal"></button>
        </div>
    </form>
</div>
