<div class="max-size p-4">
    <div class="container rounded-5 bg-white">
        <div class="row pt-3 text-center border-bottom">
            <h1>{{partyName}}</h1>
        </div>
        <div class="row px-3 py-2 align-items-center border-bottom" *ngFor="let actor of actors; let i = index">
            <div class="col-8">
            <span [ngClass]="{'fw-bold': actor.isPc}"><em *ngIf="i === turn"
                                                          class="fas fa-caret-right me-2"></em>{{actor.name}}</span>
            </div>
            <div class="col-4">
                <em *ngIf="actor.tag" class="fas fa-{{actor.tag}}"></em>
                <span [ngClass]="{'fw-bold': actor.isPc}" class="">{{actor.initiative}}
                .{{actor.modifier ? actor.modifier : '-'}}</span>
                <button class="btn float-end" title="Remove actor" (click)="removeActor(actor)">
                    <em class="fas fa-user-minus text-danger"></em>
                </button>
                <button
                    (mouseover)="selectedActor = actor"
                    title="Edit actor"
                    class="btn float-end"
                    data-bs-target="#editActor"
                    data-bs-toggle="modal"
                    role="button"
                >
                    <em class="fas fa-user-edit text-warning"></em>
                </button>
            </div>
        </div>
        <div class="row border-top border-bottom p-2">
            <h3 class="text-center">
                Round: {{round}}
            </h3>
        </div>
        <div class="row border-1 border-top justify-content-between p-3">
            <div class="col-3">
                <button class="btn btn-primary w-75" title="Previous turn" (click)="prevTurn()"><em class="fas fa-arrow-circle-left"></em>
                </button>
            </div>
            <div class="col-3">
                <button
                    title="New actor"
                    class="btn btn-success w-75"
                    data-bs-target="#addActor"
                    data-bs-toggle="modal"
                    role="button"><em class="fas fa-user-plus"></em></button>
            </div>
            <div class="col-3">
                <button class="btn btn-warning w-75" title="New encounter">
                    <em class="fas fa-users-slash" (click)="newEncounter()"></em>
                </button>
            </div>
            <div class="col-3">
                <button class="btn btn-primary w-75" title="Next turn" (click)="nextTurn()"><em class="fas fa-arrow-circle-right"></em>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addActor">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <app-modify-actor-modal></app-modify-actor-modal>
    </div>
</div>

<div class="modal fade" id="editActor">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <app-modify-actor-modal
            [actor]="this.selectedActor"
        ></app-modify-actor-modal>
    </div>
</div>
